header {
    padding: 1rem 0;

    position: fixed;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    z-index: 1000;

    div.container {
        nav.nav__bar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            

            div.nav__logo {
                a {
                    color: var(--text-color-02);
                    font-size: 2.5rem;
                    font-weight: 700;

                    span.nav__span {
                        font-size: x-small;
                        font-weight: 400;
                    }
                }
            }

            div.nav__links {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 20px;

                ul.nav__list {
                    display: flex;
                    gap: 50px;

                    li.nav__item {
                        a.nav__link {
                            color: var(--text-color-02);
                            font-weight: 500;
                            transition: all 0.3s ease-in-out;

                            &:hover {
                                text-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
                            }
                        }
                    }
                }

                a.nav__btn-contact {
                    font-size: large;
                    font-weight: 600;
                    padding: 5px 30px;
                    color: var(--secundary-color);
                    border: 2px solid var(--secundary-color);
                    border-radius: 30px;
                    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
                    transition: all 0.2s ease-out;

                    &:hover {
                        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
                    }
                }
            }
        }
    }


}

.active {
    background-color: #fffffffe;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    
    div.container {
        nav.nav__bar {
            div.nav__logo {
                a {
                    color: var(--primary-color);
                }
            }

            div.nav__links {
                ul.nav__list {
                    li.nav__item {
                        a.nav__link {
                            color: var(--primary-color);
                        }
                    }
                }

                a.nav__btn-contact {
                    color: var(--primary-color);
                    border: 2px solid var(--primary-color);
                }
            } 
        }
    }
}