section#hero {
    position: relative;

    background: url(/src/images/background-image/background.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;

    padding: 4rem 2rem;

    div.hero {
        display: flex;
        justify-content: stretch;
        align-items: center;
        height: 90vh;

        div {
            h2 {
                color: var(--secundary-color);
                font-size: 3rem;
                font-weight: 500;
            }

            h1 {
                color: var(--secundary-color);
                font-size: 6rem;
                margin-bottom: 1rem;
            }

            p {
                color: var(--secundary-color);
                text-align: justify;
                width: 600px;
            }
           

            div {
                a.cta {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    width: 50%;

                    font-size: 1.2rem;
                    font-weight: 500;
                    color: var(--secundary-color);
                    background-color: transparent;
                    border: 2px solid var(--secundary-color);
                    border-radius: 30px;
                    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
                    padding: var(--btn-padding);
                    transition: all 0.3s ease-in-out;

                    &:hover {
                       box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5); 
                    }
                }
            }
        }
    }
}