section#startup {
    div.startup {
        div {
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 20px;

            p {
                text-align: justify;
                color: var(--primary-color);
            }

            div {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 300px;
                    height: auto;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    section#startup {
        div.startup {
            div {
                flex-direction: column;
                gap: 15px;

                div {
                    img {
                        width: 100%;
                        max-width: 300px;
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    section#startup {
        div.startup {
            div {
                gap: 10px;

                p {
                    font-size: 14px;
                }

                div {
                    img {
                        max-width: 100%;
                    }
                }
            }
        }
    }
}